# RPi.MC systemd service file
#
# INSTALL:
#   - copy raspi-mc.conf tmpfiles configuration into /etc/tmpfiles.d/
#   - copy raspi-mc.service into /etc/systemd/system/
#   - run: systemd-tmpfiles --create /etc/tmpfiles.d/raspi-mc.conf
#   - run: systemctl enable raspi-mc.service && systemctl start raspi-mc.service

[Unit]
Description=RPi.MC - Magnetic contact state monitor
Documentation=https://github.com/ricco386/RPi/tree/master/RPi.MC
After=network.target

[Service]
Type=simple
User=pi
PIDFile=/run/raspi-mc/raspi-mc.pid
ExecStart=/home/pi/.local/bin/raspi-mc
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
