[global]
# Log file, remove from config to log to stdout
# If run as a systemd service, log to stdout to use journald as a storage
# logfile = /tmp/sensor.log

# Log level, default INFO if not specified in config
loglevel = DEBUG

# Notify after X failed sensor readings
failed_notify = 10
# Exit after X failed sensor readings, remove from config to set to infinity
failed_exit = 15

# time.sleep() in the infinite loop, in seconds
cycle_sleep = 0.05

[mqtt]
# Broker address (required)
broker_url = mqtt.example.com
broker_port = 1883

# Optional user credentials to login to MQTT broker
broker_username =
broker_password =

# Broker connection parameters
broker_keepalive = 120

[DHT]
# For each sensor specified by its NAME (parameter of an __init__ function) you can override any of the global defaults.
loglevel = INFO
cycle_sleep = 60

# MqttSensor has topic as a required value
mqtt_topic = somewhere/located/dht11

# Sensor specific config
sensor_pin = 21
