# RPi.Sensor section

[global]
# Log file (required)
# Empty value means logging to stdout
logfile = /tmp/sensor.log

# Log level (required)
loglevel = INFO

# Setup NODE ID
node_id =

[server]
# Setup server url without trailing slash
hostname =

# Setup login username
username =

# Setup login password
password =

# Notify after X failed sensor readings
failed_notify = 10

# Additional DHT section for config.cfg.example
# Setup DHT specific options add to existing config file
[DHT]
sensor_id =
sensor_pin = 21
