# RPi.DHT systemd service file
#
# INSTALL:
#   - copy rpi-dht.conf tmpfiles configuration into /etc/tmpfiles.d/
#   - copy rpi-dht.service into /etc/systemd/system/
#   - run: systemd-tmpfiles --create /etc/tmpfiles.d/rpi-dht.conf
#   - run: systemctl enable rpi-dht.service && systemctl start rpi-dht.service

[Unit]
Description=RPi.DHT - Temperature & Humidity monitor
Documentation=https://github.com/ricco386/RPi
After=network.target

[Service]
Type=simple
User=pi
PIDFile=/run/rpi-dht/rpi-dht.pid
ExecStart=/usr/local/bin/rpi-dht 
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
