# Doorman systemd service file
#
# INSTALL:
#   - copy doorman.conf tmpfiles configuration into /etc/tmpfiles.d/
#   - copy doorman.service into /etc/systemd/system/
#   - run: systemd-tmpfiles --create /etc/tmpfiles.d/doorman.conf
#   - run: systemctl enable doorman.service && systemctl start doorman.service

[Unit]
Description=Doorman - Door state monitor
Documentation=https://github.com/ricco386/doorman
After=network.target

[Service]
Type=simple
User=daemon
PIDFile=/run/doorman/doorman.pid
ExecStart=/usr/bin/doorman
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=30

[Install]
WantedBy=multi-user.target
